<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expense Tracker</title>
    <link rel="icon" type="image/x-icon" href="../../public/Expense-Icon.png" />

    <!-- Local Bootstrap CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />

    <!-- Local Bootstrap JS -->
    <script defer src="../../public/js/bootstrap.bundle.min.js"></script>

    <!-- Local Axios -->
    <script src="../../public/js/axios.min.js"></script>

    <link rel="stylesheet" href="../../styles/mystyle.css">

    <script type="module" src="../JS/index.js"></script>
  </head>
  <body>
    <header></header>
    <!--Show Results with Toast-->
    <div class="container mt-5">
      <div class="toast-container position-fixed top-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
              <img src="../../public/Expense-Icon.png" class="rounded me-2" alt="Expense Tracker" width="20%" height="20%" />
              <strong class="me-auto">Expense Tracker</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
                
          </div>
        </div>
      </div>
    </div>
    <!--Create Account Text-->
    <div class="container-fluid my-5">
        <p class="fs-4 fw-bold text-center">Reset Password</p>
    </div>
    <!--Form-->
    <div class="container-fluid mt-5">
      <form id="updatePassword">
          <div class="row mb-3">
            <div class="col-sm-0 col-4"></div>
            <div class="col-sm-4 col-12">
              <label for="newPassword" class="form-label fs-6 fw-semibold">New Password</label>
              <input type="password" class="form-control form-control-sm" id="newPassword" placeholder="********" minlength="8" maxlength="15" required />
            </div>
          </div>
          <div class="row my-4">
            <div class="col-4"></div>
            <div class="d-grid col-sm-4">
              <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </div>
            <div class="col-4"></div>
          </div>
      </form>
    </div>
  </body>
</html>