<header>
  <!--Navigation-->
  <div class="container-fluid p-0">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:5500/FRONTEND/components/Layout/expenses.html">
              <img src="../../public/Expense Icon.png" alt="Expense Tracker" width="10%" height="10%" class="img-fluid rounded mt-1">
              <p class="fs-4 fw-bold text-light d-inline-block align-text-top m-1">Expense Tracker</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <div class="me-auto mb-2 mb-lg-0"></div>
              <a class="btn btn-light text-light" href="http://localhost:5500/FRONTEND/components/Layout/login.html" role="button" id="loginBtn">Login</a>
            </div>
          </div>
        </nav>
  </div>
</header>